Repository Kenya-West/userscript-typescript-template-kw: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache, stylelint

Add scripts and fix some
  package.json
Due: none

Update deps
  package-lock.json
  package.json
Due: none

Fix code automatically
  src/actions/action-abstract.action.ts
  src/actions/console-log.action.ts
  src/app.facade.ts
  src/app.ts
  src/controls/buttons/button-abstract/button-abstract.control.ts
  src/controls/buttons/button-base/button-base.control.ts
  src/controls/buttons/button.model.ts
  src/controls/buttons/button/button.control.ts
  src/controls/control-abstract.control.ts
  src/controls/control-base.control.ts
  src/controls/control-collection.model.ts
  src/controls/control-collection.ts
  src/controls/control-compose.service.ts
  src/controls/control.model.ts
  src/controls/counter/counter-abstract/counter-abstract.control.ts
  src/controls/counter/counter-base/counter-base.control.ts
  src/controls/counter/counter/counter.control.ts
  src/controls/panel/panel-abstract/panel-abstract.control.ts
  src/controls/panel/panel-base/panel-base.control.ts
  src/controls/panel/panel/panel.control.ts
  src/custom/custom-methods.service.ts
  src/element-find/element-collection.model.ts
  src/element-find/element-collection.ts
  src/element-find/element-find.service.ts
  src/environment/environment.model.ts
  src/guards/element-existence.guard.ts
  src/guards/only-env.guard.ts
  src/guards/route.guard.ts
  src/guards/userscript-permissions.guard.ts
  src/index.ts
  src/render/render.model.ts
  src/render/render.service.ts
  src/routing/routes.ts
  src/scheduler/scheduler.ts
  src/styles/styles-injecter.service.ts
  src/types/index.d.ts
  src/utils/logger.ts
Due: eslint --cache

Fix some rulesets
  .eslintrc.js
Due: none

Fix lint code
  src/app.facade.ts
  src/controls/buttons/button-abstract/button-abstract.control.ts
  src/controls/buttons/button-base/button-base.control.ts
  src/controls/buttons/button/button.control.ts
  src/controls/control-collection.model.ts
  src/controls/control-collection.ts
  src/controls/control-compose.service.ts
  src/controls/counter/counter/counter.control.ts
  src/controls/panel/panel-abstract/panel-abstract.control.ts
  src/controls/panel/panel-base/panel-base.control.ts
  src/controls/panel/panel/panel.control.ts
  src/custom/custom-methods.service.ts
  src/element-find/element-find.service.ts
  src/guards/element-existence.guard.ts
  src/guards/only-env.guard.ts
  src/guards/route.guard.ts
  src/guards/userscript-permissions.guard.ts
  src/scheduler/scheduler.ts
  src/styles/styles-injecter.service.ts
  src/utils/logger.ts
Due: eslint --cache

Fix formatting
  webpack.config.ts
Due: eslint --cache

Move typings to dedicated folder
  src/types/index.d.ts
  typings.d.ts
Due: eslint --cache

Add .editorconfig
  .editorconfig
Due: none

Add html-loader for Webpack
  package-lock.json
  package.json
  webpack.config.ts
Due: eslint --cache

Add universal modal
  src/app.facade.ts
  src/app.ts
  src/controls/modals/modal-abstract/modal-abstract.control.ts
  src/controls/modals/modal-base/modal-base.control.ts
  src/controls/modals/modal.model.ts
  src/controls/modals/modal/modal-entries.ts
  src/controls/modals/modal/modal.control.html
  src/controls/modals/modal/modal.control.scss
  src/controls/modals/modal/modal.control.ts
Due: eslint --cache, stylelint

Rely on two fields
  src/controls/control-compose.service.ts
Due: eslint --cache

Rename field
  src/controls/control-base.control.ts
Due: eslint --cache

Fix on rendering routes function
  src/render/render.service.ts
Due: eslint --cache

Add component entity
  src/components/component-abstract.component.ts
  src/components/component-base.component.ts
  src/components/component-collection.model.ts
  src/components/component-collection.ts
  src/components/component-compose.service.ts
  src/components/component.model.ts
Due: eslint --cache

Move to components
  src/components/component-abstract.component.ts
  src/components/component-base.component.ts
  src/components/component-collection.model.ts
  src/components/component-collection.ts
  src/components/component-compose.service.ts
  src/components/component.model.ts
  src/render/render.model.ts
Due: eslint --cache

Path conditions:
  eslint --cache: any of: *.ts
  stylelint: any of: *.scss
